.links {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .links {
    position: static;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 0;
  }
}